<header class="headerclass">
    <nav>
        <ul>
            <li> <a href="/index"> <img src="/assets/images/Let'sMeet.png" alt="Let's Meet" /> </a> </li>
        </ul>
        <ul class="right-align">
            <li> <a href="/newConnection"> Start a new connection </a> </li>
            <li class="demarkers"> <a href="/savedConnections/clearSession"> Logout </a> </li>
        </ul>

        <hr>

        <ul>
            <li> <a href="/connections"> Connections </a> </li>
        </ul>
    </nav>
</header>