<footer>
    <ul>
        <li> Let's Meet Connections </li>
        <li> <a href="/about"> ABOUT </a> </li>
        <li> <a href="/contact"> CONTACT </a> </li>
        <li class="right-align-footer"><a href="/index"> <img class="footer-image" src="/assets/images/fb.jpg"
                    alt="Facebook" /> </a></li>
        <li class="right-align-footer"> <a href="/index"> <img class="footer-image" src="/assets/images/Twitter.jpg"
                    alt="Twitter" /> </a></li>
    </ul>
</footer>