<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Let's MEET!!!</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->
</head>

<body>
    <% if(user=== true){%>
    <%- include ('partials/currentUserNav.ejs') %>
    <% } else {%>
    <%- include ('partials/newUserNav.ejs') %>
    <%} %>
    <main>
        <section>
            <article>
                <div class="row">
                    <h3> About US </h3><br />
                    <h3>We are proud women students of UNCC who are working towards building stronger, healthier and
                        smarted Women at UNCC</h3><br />
                    <h3>Let's Meet is a platform for finding and building Women communities at UNCC where you can meet
                        new friends, learn new things, find support, get out of your comfort zones, and pursue your
                        passions, together.</h3><br />
                    <h3> Join Today!!! by signing up <a href="/sign-up"> Sign up </a> </h3>
                    <div class="row">
                        <br /><br /><br /><br />
                        <div class="column">
                            <img class="categories" src="/assets/images/dance.jpg" alt="Dance" />
                            <img class="categories" src="/assets/images/running.jpg" alt="Rejenuate" />
                            <img class="categories" src="/assets/images/technology.jpg" alt="Technology" />
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>

</html>