<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title> Let's MEET!!!</title>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->

</head>

<body>
   <% if(user === true){%>
      <%- include ('partials/currentUserNav.ejs') %>
      <% } else {%>
      <%- include ('partials/newUserNav.ejs') %>
      <%} %>
   <main>
      <section>
         <article>
            <div class="row1">
              
               <div class="column_connections">
                  <ul class="conList">
                     <% var val="xxx";  for(var i=0; i<connection.length; i++){  %>
                        
                        <% if (connection[i].connectionName != val) {  val = connection[i].connectionName; %>
                           <li><p class="conName"> <%= connection[i].connectionName%> </p> <br/></li>
                           <%  
                           for(var j=0; j<connection.length; j++){ %>
                              <% if (connection[j].connectionName == val) { %>
                              <li><a href="/connection?connectionID=<%= connection[j].connectionID%>"><%= connection[j].connectionTopic%> </a><br/><br/></li>
                              <% }%> 
                           <%  }%> 
                        <%  }%> 
                     <%  }%>

                     
                  </ul>
                  
               </div>
            </div>
         </article>
      </section>
   </main>

   <%- include ('partials/footer.ejs') %>
</body>

</html>