<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title> Let's MEET!!!</title>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->

</head>

<body>

   <% if(user === true){%>
      <%- include ('partials/currentUserNav.ejs') %>
      <% } else {%>
      <%- include ('partials/newUserNav.ejs') %>
      <%} %>
     <main>
      <section>
         <article>
            <div class="row">
              
               <div class="column1">
                 
                     <h1> Would you like to attend this event?</h1> <br/><br/>
                     <button onClick="window.location.href = '/savedConnections?action=update&RSVP=Yes&theConnection=<%=connection.connectionID%>'"><img class="yesnomaybe" src="/assets/images/yes.jpg"
                        alt="Yes" /></button>
                     <button onClick="window.location.href = '/savedConnections?action=update&RSVP=No&theConnection=<%=connection.connectionID%>'"><img class="yesnomaybe" src="/assets/images/no.jpg" alt="No" /></button>
                     <button onClick="window.location.href = '/savedConnections?action=update&RSVP=Maybe&theConnection=<%=connection.connectionID%>'"><img class="yesnomaybe" src="/assets/images/maybe.jpg"
                        alt="MayBe" /></button>
              </div>
               <div class="column">
                  <p class="conName"><%= connection.connectionName %></p><br />
                  <p class="conName2"> <%= connection.connectionTopic%></p><br />
                  <p class="conName2"><%= connection.date %></p><br />
                  <p class="conName2"><%= connection.time %></p><br /><br />
                  <h3> <%= connection.description2 %></h3><br>
               </div>
            
            </div>
         </article>

      </section>
   </main> 
   <%- include ('partials/footer.ejs') %>
</body>

</html>