<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Let's MEET!!!</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->
</head>

<body>
    <% if(user=== true){%>
    <%- include ('partials/currentUserNav.ejs') %>
    <% } else {%>
    <%- include ('partials/newUserNav.ejs') %>
    <%} %>
    <main>
        <section>
            <article>
                <div class="row">
                    <h3>Contact</h3><br />
                    <h3>We are proud women students of UNCC who are working towards building stronger, healthier and
                        smarted Women at UNCC</h3><br />

                    <div class="column3">
                        <ul>
                            <li><img class="categories" src="/assets/images/host-pic.jpg" alt="Host" /></li>
                        </ul>
                    </div>

                    <div class="column">
                        <ul>
                            <li>
                                <p>Founder: Pooja Halshetty</p>
                            </li>
                            <li>
                                <p>Email: phalshetty@uncc.edu</p>
                            </li>
                            <li>
                                <p>Phone: 111-111-1111</p>
                            </li>
                            <li>
                                <p>Location:Yoga Center</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>

</html>