<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title> Let's MEET!!!</title>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->

</head>

<body>
   <% if(user=== true){%>
   <%- include ('partials/currentUserNav.ejs') %>
   <% } else {%>
   <%- include ('partials/newUserNav.ejs') %>
   <%} %>
   <main>
      <section>
         <article>
            <h3> LET'S MEET LADIES!! </h3><br />
            <h3>Women at UNCC, join a group you love, meet new people of same interests and explore like never before.
            </h3><br />
            <h3> Go to <a href="/connections"> Connections </a> to begin your journey with us. </h3>

         </article>

         <article>
            <video class="video-size" controls>
               <source src="/assets/images/Video.mp4" type="video/mp4">
                
            </video>
         </article>

      </section>
   </main>
   <%- include ('partials/footer.ejs') %>
</body>

</html>