<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Logout - Let's MEET!!!</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->
</head>

<body>
    <% if(user === true){%>
    <%- include ('partials/currentUserNav.ejs') %>
    <% } else {%>
    <%- include ('partials/newUserNav.ejs') %>
    <%} %>
    <main>
        <section>
            <article>
                <div class="row">
                    <h3> InValid URL </h3><br />
                    <h3>Thank you for visiting our site, it's an invalid URL.Kindly click here to visit again <a href='index'>Let's Meet</a></h3>
                </div>
            </article>
        </section>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>

</html>