<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Login - Let's MEET!!!</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->
</head>

<body>
    <% if(user === true){%>
    <%- include ('partials/currentUserNav.ejs') %>
    <% } else {%>
    <%- include ('partials/newUserNav.ejs') %>
    <%} %>

    <% if(userPresent === false){%>
        <h1> Invalid email or password or </h1>
        <h1>The User is not registered, kindly register using the <a href="/sign-up"> Sign Up </a> link</h1>
    <main>
        <section>
            <h2>Welcome to Let's Meet!!!</h2><br />
            <h2>Please enter your Username and password to Login</h2><br />
            <form name="login-form" class="contact-form" action = "login"  onsubmit="inputValidations()" method="POST">

                <label>Email </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" size="40" placeholder="Email ID"
                    name="email" required><br /><br />

                <label>Password </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" size="40"
                    placeholder="Password" id="password" name="password" required><br /><br />

                <input type="submit" value="Login" id="submit"><br /><br /><br /><br />

                <label> If not registered, Kindly <a href="/sign-up"> Sign Up </a></label>
            </form>
        </section>
    </main>
    <%- include ('validations.ejs') %>
    <%- include ('partials/footer.ejs') %>

<% } else {%>
    <main>
        <section>
            <h2>Welcome to Let's Meet!!!</h2><br />
            <h2>Please enter your Username and password to Login</h2><br />
            <form name="login-form" class="contact-form" action = "login"  onsubmit="inputValidations()" method="POST">

                <label>Email </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" size="40" placeholder="Email ID"
                    name="email"  required><br /><br />

                <label>Password </label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" size="40"
                    placeholder="Password" id="password" name="password" required><br /><br />

                <input type="submit" value="Login" id="submit"><br /><br /><br /><br />

                <label> If not registered, Kindly <a href="/sign-up"> Sign Up </a></label>
            </form>
        </section>
    </main>
    <%- include ('validations.ejs') %>
    <%- include ('partials/footer.ejs') %>

    <%} %>
</body>
</html>