<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Let's MEET!!!</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->

</head>

<body>
  <% if(user=== true){%>
  <%- include ('partials/currentUserNav.ejs') %>
  <% } else {%>
  <%- include ('partials/newUserNav.ejs') %>
  <%} %>
  <main>
    <section>
      <article>
        <div class="row">
         

          <h4> Hello <%= userDetails[0].firstName %> <%= userDetails[0].lastName %> </h4>
          <br />
          <table>
            <thead>
              <tr>
                <th scope="col">Connection</th>
                <th scope="col">Category</th>
                <th scope="col">Going</th>
                <th scope="col">Edit Response</th>
              </tr>
            </thead>
            <tbody>
              <% userConnections.forEach(function(userConnection) { %>
              <tr>
                <td><strong><%= userConnection.connection[0].connectionName%></strong></td>
                <td><%= userConnection.connection[0].connectionTopic %></td>
                <td><%= userConnection.RSVP %></td>
                <td>
                  <button
                    onClick="window.location.href = '/savedConnections?action=update&theConnection=<%=userConnection.connection[0].connectionID%>'"><img
                      class="updatedelete" src="/assets/images/update.jpg" alt="Update" /></button>
                  <button
                    onClick="window.location.href = '/savedConnections?action=delete&theConnection=<%=userConnection.connection[0].connectionID%>'"><img
                      class="updatedelete" src="/assets/images/delete.jpg" alt="Delete" /></button>
                </td>
              </tr>
            </tbody>

            <%})%>

          </table>
        </div>
      </article>
    </section>
  </main>
  <%- include ('partials/footer.ejs') %>
</body>

</html>