<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title> Let's MEET!!!</title>
   <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
   <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->

</head>

<body>
   <% if(user=== true){%>
   <%- include ('partials/currentUserNav.ejs') %>
   <% } else {%>
   <%- include ('partials/newUserNav.ejs') %>
   <%} %>
   <main>
      
      <section>
         <br /><br /><br /><h3>Kindly enter the below details to create a new Connection</h3>
         <article>
            <div class="container">
               <form id="contact-form" action="newConnection" onsubmit="newConnection()"  method="POST"><br /><br /><br />
                  <label id="connectionTopic" >Connection Topic</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" name="connectionTopic" size="30" pattern="[A-Za-z]{5,}" title="ConnectionTopic with minimum of 5 Alphabet characters value" required><br /><br /><br />

                  <label id="connectionName">Connection Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" name="connectionName" size="30" pattern="[A-Za-z]{5,}" title="ConnectionName with minimum of 5 Alphabet characters value"  required><br /><br /><br />

                  <label id="description1">Description1</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <textarea rows="3" cols="31" name= "description1" minlength="10" required></textarea><br /><br /><br />

                  <label id="description2">Description2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <textarea rows="3" cols="31" name= "description2"  ></textarea><br /><br /><br />

                  <label id="time" >Time</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="time" name="time" size="30" required><br /><br /><br />

                  <label id="date">Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="when-align" type="date"  name="date"  min="2020-05-01" max="2021-12-31" required><br /><br /><br />
                  <input class="submit1" type="submit" value="CreateConnection">
               </form>
            </div>
         </article>
      </section>
   </main>
   <%- include ('validations.ejs') %>
   <%- include ('partials/footer.ejs') %>
</body>

</html>