<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Login - Let's MEET!!!</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <!-- [if lt IE 9]>
            <script type="text/javascript" src="javascript/index_javascript.js"></script>
         <![endif]-->
</head>

<body>
    <% if(user === true){%>
    <%- include ('partials/currentUserNav.ejs') %>
    <% } else {%>
    <%- include ('partials/newUserNav.ejs') %>
    <%} %>
    <% if(userPresent === true){%>
    <main>
       
            <h1> The user is already registered, Kindly <a href="/login"> Login </a></h1>
        <section>
            <h2>Welcome to Let's Meet!!!</h2><br />
            <h2>Register here to Sign up for Let's Meet!!!!</h2><br />
            <form id="login" class="contact-form" action="sign-up" method="post" onsubmit="event.preventDefault(); validateMyForm();"><br />
                
                <label>First Name </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="firstName" placeholder="FirstName"  id = "firstName"  pattern="[A-Za-z]{3,}" title="Kindly enter firstName with minimum of 3 alpha characters (Only alpha values allowed)" required><br/><br /><br />
           
                <label>Last Name </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="lastName" placeholder="LastName" id="lastName" required><br/><br /><br />

                <label>Email </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" name="email" placeholder="E-mail" id ="email" required> <br/><br /><br />

                <label>Password </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" name="password" placeholder="Password" id="password"  pattern="[A-Za-z0-9]{8,}" title="Kindly enter password with atleast 8 alphanumeric values"  required><br/><br /><br />

                <label>Confirm Password </label> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required><br/><br /><br />

               <input type="submit" value="REGISTER"><br/>

            </form>
        </section>
    </main>

    <%- include ('validations.ejs') %>
    <%- include ('partials/footer.ejs') %>
   
   
    <% } else {%>

        <main>
        <section>
            <h2>Welcome to Let's Meet!!!</h2><br />
            <h2>Register here to Sign up for Let's Meet!!!!</h2><br />
            <form id="login" class="contact-form" action="sign-up" method="post" onsubmit="event.preventDefault(); validateMyForm();"><br />
                
                <label>First Name </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="firstName" placeholder="FirstName"  pattern="[A-Za-z]{3,}" title="Kindly enter firstName with minimum of 3 alpha characters (Only alpha values allowed)" id = "firstName" required><br/><br /><br />
           
                <label>Last Name </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="lastName" placeholder="LastName" id = "lastName" required><br/><br /><br />

                <label>Email </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" name="email" placeholder="E-mail" id = "email" required> <br/><br /><br />

                <label>Password </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" name="password" placeholder="Password" id="password"  pattern="[A-Za-z0-9]{8,}" title="Kindly enter password with atleast 8 alphanumeric values" required><br/><br /><br />

                <label>Confirm Password </label> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required><br/><br /><br />

               <input type="submit" value="REGISTER"><br/>

            </form>
        </section>
    </main>

    <%- include ('validations.ejs') %>
    <%- include ('partials/footer.ejs') %>
    <%} %>
</body>

</html>