@charset "UTF-8"

article,
aside,
footer,
header,
nav,
main,
section {
   display: block;
}

html,
body,
h1,
h3,
ul,
li,
a,
p,
article,
footer,
header,
main,
nav,
section {
   padding: 0;
   margin: 0;
}

h2,
h3,
h4 {
   font-family: Lucida Caligraphy;
   text-align: center;
   width: 100%
}


.headerclass {
   background-color: black;
   color: white;
   padding: 10px 20px;
   width: 100%;

}

body {

   margin-left: auto;
   margin-right: auto;
   background-color: #FFFFFF;
   font-family: Times New Roman, Times, serif;
   font-size: 15px;
   width: 100%;
   height: 100%;


}

nav {
   background-color: #000000;
   color: #FFFFFF;
   padding: 5px;
   margin-top: 1px;
   width: 100%;
}

ul li a {
   color: #FFFFFF;
   text-decoration: none;
   width: 100%;
}

li a img {
   color: #000000;
   height: 90px;
   width: 180px;
   border-radius: 25px;

}

ul {
   display: inline;
}

li {
   display: inline;
   margin-left: 10px;
   margin-right: 10px;
   font-size: 20px;

}


section {
   background-color: #F5F5F5;
   margin-top: 10px;
   padding: 5px;
   width: 100%;
   height: 100%;
}

article {
   margin-top: 5px;
   padding: 10px 15px 10px 10px;
   width: 100%;
   height: 100%;

}

main {
   width: 1000px;
   margin-bottom: 10px;
   width: 100%;
   height: 100%
}

footer {
   clear: both;
   background-color: #000000;
   color: #FFFFFF;
   padding: 5px 20px;
   margin-bottom: 10px;
   width: 100%;
   height: 50px;
   float: bottom;


}

footer ul li {
   font-size: 12px;

}

.right-align {
   float: right;
   padding: 5px 20px;
   margin-bottom: 20px;
   margin-top: 30px;

}

.right-align-footer {
   float: right;
}

.footer-image {
   width: 20px;
   height: 20px;
   outline: none !important;
   border-radius: 0px;
   border-color: black;

}

.demarkers {
   border-left: 1px solid;
   padding-left: 0.8em;
}



.video-size {
   width: 960px;
   height: 500px;
   outline: none !important;
   width: 100%;

}

.categories {
   width: 250px;
   height: 250px;
   padding: 20px 20px 100px 20px;


}


div ul li {
   display: inline;
}


* {
   box-sizing: border-box;
}

.column {
   float: left;
   height: 25%;
   padding: 10px;
   width: 65%;
}


.column3 {
   float: left;
   height: 25%;
   padding: 10px;
}

.column_connections{
   height: 25%;
   padding: 50px 50px 100px 400px;
}

.column1 {
   float: right;
   width: 33%;
   height: 25%;
   padding: 10px;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

.row1::after {
   content: "";
   clear: both;
   display: table;
   border: #000000;
   border-radius: 1px;


}


/*Style for Connections.html*/
div ul li a {
   color: #000000;
   text-decoration: none;
   width: 100%;
}

.details {
   text-align: left;
   padding-left: 25px;

}

.yesnomaybe {
   display: inline;
   width: 50px;
   height: 50px;
   border-radius: 40px;
}

/*Saved Connections*/
table {
   border-collapse: separate;
   border-spacing: 0;
   color: black;
   font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
   text-align: center;
   margin: 0 auto;
}

th,
td {
   padding: 10px 15px;
   vertical-align: middle;
}

thead {
   background: #000000;
   color: #fff;
}

th:first-child {
   text-align: left;
}

tbody tr:nth-child(even) {
   background: #f0f0f2;
}

td {
   border-bottom: 1px solid #cecfd5;
   border-right: 1px solid #cecfd5;
}

td:first-child {
   border-left: 1px solid #cecfd5;
}

.title {
   color: #000000;
   display: block;
   text-align: left;
}

.item {
   text-align: center;
   border-spacing: 0;
   color: #4a4a4d;
   font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.item-multiple {
   display: block;
}

tfoot {
   text-align: right;
}

tfoot tr:last-child {
   background: #f0f0f2;
}

.left-align {
   text-align: left;
}

.left {
   text-align: left;
   padding-left: 20px;
}

.welcome-class {
   color: #008000;
   float: right;
}

.updatedelete {
   width: 50px;
   height: 20px;
   outline: none !important;
   border-radius: 0px;
   border-color: black;
}

.color {
   color: #008000;
}

form{
   align-self: center;
   padding: 50px 50px 50px 500px;
   height: 970px;
   width: 1000px;
   font-size: 20px;   
   float: center;
}

.submit1{
   block-size: 50px;
   float: right;
   color: #000000;
   text-align: center;
   float: right;
   color: white;
}
.container {
   width: 200px;
   clear: both;
 
 }
 
 .container input {
   clear: both;
   color: grey;
 }

 .when-align{
   width: 245px;
 }

 textarea{
   color: grey;
 }

 /* connections.ejs*/
 .conName{
    font-size: 30px;
    font-weight: bold;
 }

 .conName2{
   font-size: 20px;
   font-weight: bold;
}

.conList{
   list-style-type: none;
   margin-left: 30px;
   font-size: 20px;
}

.image-size{
   float: left;
   padding: 20px 20px 20px 20px;
   height: 500px;
   width: 500px;
 }

 .detail{
   margin-top:100px;
 }

 .contact-form{
   padding: 50px 50px 50px 450px;
   height: 100%;
   width: 100%;
   font-size: 20px;   
}